/*
 * Copyright (c) 2018. OsirptPm
 * 이 저작물에는 크리에이티브 커먼즈 저작자표시-비영리-동일조건변경허락 4.0 국제 라이선스가 적용 되어 있습니다. 이 라이선스의 설명을 보고 싶으시면 http://creativecommons.org/licenses/by-nc-sa/4.0/ 을(를) 참조하세요.
 */

aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 70px;
    height: 100vh;

    display: flex !important;
    flex-direction: column;
    justify-content: space-between;

    z-index: 10;
}
#logo img {
    width: 70%;
}
aside a {
    /*color: #343a40;*/
    color: #003a77 ;
    /*color: #14453D;*/
}

aside > section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside > section > div {
    width: 100%;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

aside > section > div > a {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
aside > section > div i {
    font-size: 2.2rem !important;
    text-shadow: 0 0 5px rgba(0, 0, 0, .5);
}

/* 모바일 */
@media all and (max-width:767px) {
    aside {
        top: auto;
        bottom: 0;
        width: 100%;
        height: 70px;

        flex-direction: row;
        justify-content: space-around;
    }

    aside > section {
        flex-direction: row;
        justify-content: space-around;
    }

    aside > section > div {
        margin: 0 1rem;
    }

    #logo {
        display: none;
    }
}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {


}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {


}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) {



}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}