/*
 * Copyright (c) 2018. OsirptPm
 * 이 저작물에는 크리에이티브 커먼즈 저작자표시-비영리-동일조건변경허락 4.0 국제 라이선스가 적용 되어 있습니다. 이 라이선스의 설명을 보고 싶으시면 http://creativecommons.org/licenses/by-nc-sa/4.0/ 을(를) 참조하세요.
 */

.graph {
    margin: 1rem auto;
    *background-color: #0D47A1;
}

.power {
    margin: 0 .5rem;
    border: none !important;
}
.power:focus {
    box-shadow: none !important;
}
.powerStatusIcon {
    font-size: 1.9rem !important;
}
.powerStatusIcon.powerOff {
    color: #6c757d;
}
/*#B579FF*/

.pm2_5Canvas {
    background-color: #6f42c1;
}
.pm10Canvas {
    background-color: #B579FF;
}

.multiGraphWrap {
    /*background-color: #131417;*/
}

.speechBubbleMeterWrap {
    min-width: 100px;
    /*height: 100%;*/
}
.speechBubbleMeter {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.bubble {
    padding: .3rem;
    position: absolute;
    bottom: 0;
    transition: transform .5s;
}
.bubble > span {
    padding: .3rem .5rem;
    font-size: .95rem;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 5px black, 0 0 15px black;
    border-radius: 1rem .5rem 1rem 0;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
}
.bubble .temperature {
    background-color: rgba(246, 81, 29, .8);
}
.bubble .humidity {
    background-color: rgba(255, 180, 0, .8);
}
.bubble .pm2_5 {
    background-color: rgba(0, 166, 237, .8);
}
.bubble .pm10 {
    background-color: rgba(127, 184, 0, .8);
}
.bubble .pm2_5Predict {
    background-color: rgba(0, 166, 237, .6);
    /*display: none;*/
}
.bubble .pm10Predict {
    background-color: rgba(127, 184, 0, .6);
    /*display: none;*/

}

.selectBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selectBox section {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.selectBox section > div {
    padding: 1rem;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, .5), 0 0 15px rgba(0, 0, 0, .5);
    border-radius: 0;
    cursor: pointer;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.selectBox section > div > img {
    width: 15%;
    /*height: 15%;*/
}
.selectBox .temperature {
    background-color: rgba(206, 67, 24, 1);
    /*background-image: url("/images/temperature-2-256.png");*/
    /*background-size: contain;*/
    /*background-position: left;*/
    /*background-repeat: no-repeat;*/
}
.selectBox .temperature[data-visible="true"] {
    background-color: rgba(206, 67, 24, .7);
    /*background-image: url("/images/temperature-2-256.png");*/
    /*background-size: contain;*/
    /*background-position: left;*/
    /*background-repeat: no-repeat;*/
}
.selectBox .humidity {
    background-color: rgba(216, 151, 0, 1);
}
.selectBox .humidity[data-visible="true"] {
    background-color: rgba(216, 151, 0, .7);
}
.selectBox .pm2_5 {
    background-color: rgba(0, 139, 198, 1);
}
.selectBox .pm2_5[data-visible="true"] {
    background-color: rgba(0, 139, 198, .7);
}
.selectBox .pm10 {
    background-color: rgba(99, 145, 0, 1);
}
.selectBox .pm10[data-visible="true"] {
    background-color: rgba(99, 145, 0, .7);
}
.selectBox .predict {
    background-color: rgba(6, 23, 45, 1);
    /*display: none;*/
}
.selectBox .predict[data-visible="true"] {
    background-color: rgba(6, 23, 45, .7);
    /*display: none;*/
}

/* 모바일 */
@media all and (max-width:767px) {
    .selectBox section {
        width: 85%;

        flex-wrap: wrap;
        flex-direction: row;
    }
    .selectBox section > div {
        padding: .5rem;

        width: 33%;
        /*min-width: 70px;*/
        min-height: 112px;

        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    .selectBox section > div > img {
        width: 40%;
        /*height: 50%;*/
    }
}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {


}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {


}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) {



}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}