/*
 * Copyright (c) 2018. OsirptPm
 * 이 저작물에는 크리에이티브 커먼즈 저작자표시-비영리-동일조건변경허락 4.0 국제 라이선스가 적용 되어 있습니다. 이 라이선스의 설명을 보고 싶으시면 http://creativecommons.org/licenses/by-nc-sa/4.0/ 을(를) 참조하세요.
 */

#home {
    position: absolute;
    top: 0; left:0; right: 0; bottom: 0;
    background: url("/images/clouds-corn-cornfield-2678.jpg") center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
#outer_wrap {
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);
}
#wrap {
    width: 200%;
    background-color: rgba(255, 255, 255, .5);

    display: flex;
    justify-content: space-around;

    transform: translateX(0%);
    transition: transform .5s;
}
#wrap.view_signup {
    transform: translateX(-50%);
}

#wrap > section {
    width: 100%;
}


#home form > section:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#home form > section > * {
    margin: .5rem 0;
}
/* 모바일 */
@media all and (max-width:767px) {

}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {


}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {


}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) {



}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}