/*
 * Copyright (c) 2018. OsirptPm
 * 이 저작물에는 크리에이티브 커먼즈 저작자표시-비영리-동일조건변경허락 4.0 국제 라이선스가 적용 되어 있습니다. 이 라이선스의 설명을 보고 싶으시면 http://creativecommons.org/licenses/by-nc-sa/4.0/ 을(를) 참조하세요.
 */

.form-group h3 {
    margin-bottom: 1.5rem;
}
.form-group .form-control {
    margin: .5rem 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #6c757d
}


.list-group li button {
    padding: 0;
    border: none;
    /*float: right;*/
    background-color: transparent;
    font-size: 1.5rem;
    line-height: 1;
    cursor: pointer;
}
.list-group li:first-child {
    border-top: none;
}
.list-group li button:hover {
    color: #6c757d !important;
}


.list-group .form-group .form-control {
    margin: .5rem 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #6c757d
}
#licenseWrap {
    position: relative;
}
#license {
    position: absolute;
    top: .5rem;
    right: .5rem;
    z-index: 10;
}