/*
 * Copyright (c) 2018. OsirptPm
 * 이 저작물에는 크리에이티브 커먼즈 저작자표시-비영리-동일조건변경허락 4.0 국제 라이선스가 적용 되어 있습니다. 이 라이선스의 설명을 보고 싶으시면 http://creativecommons.org/licenses/by-nc-sa/4.0/ 을(를) 참조하세요.
 */

body {
    padding: 1rem 0 1rem 70px;
    *font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #1b1e21 !important;
    /*background-color: #222 !important;*/
}

a {
    *color: #00B7FF;
    text-decoration: none !important;
}

/* 모바일 */
@media all and (max-width:767px) {
    body {
        padding: 1rem 0 calc(110px + 2rem) 0;
    }
}
/* 모바일 - 가로모드 키보드 올라면 가로모드로 인식해서 안씀, 자바스크립트로는 넥7같은 세로모드는 모바일 가로모드는 태블릿인 기기에서 제대로 동작하지 않아서 안씀*/
@media all and (max-width:767px) and (orientation: landscape) {

}
/* 태블릿, 데스크탑 공통 */
@media all and (min-width:768px) {

}
/* 태블릿 기본 세로모드로 가정*/
@media all and (min-width:768px) and (max-width:1024px) {


}
/* 태블릿 - 가로모드 landscape */
@media all and (min-width:768px) and (max-width:1024px) and (orientation: landscape) {


}
/* 데스크탑 기본 가로모드로 가정*/
@media all and (min-width:1025px) {



}
/* 데스크탑 세로모드 portrait */
@media all and (min-width:1025px) and (orientation: portrait) {

}