aside.bg-light.text-dark
    section#logo
        div
            a
                img(src="/images/logo.png")
    section
        if user
            div
                a(href=`/dashboard?usertoken=${user.token}`)
                    i.material-icons(title="대시보드") dashboard
            div
                a(href=`/control_board?usertoken=${user.token}`)
                    i.material-icons(title="제어판") device_hub
            div
                a(href=`/settings?usertoken=${user.token}`)
                    i.material-icons(title="설정") settings
    section
        div
            if user
                a#signout(href="/user/signout")
                    i.material-icons(title="로그아웃") lock_open
            else
                a(href="/")
                    i.material-icons(title="로그인") lock

        div
            a(href="/info")
                i.material-icons(title="정보") info