extends layout

block content
    h2.text-light.p-2.border-bottom 공기청정기 제어판
    each thing in user.things
        section.thing.text-light.border-bottom.border-light.p-3(id=thing.name)
            section.clearfix.pb-3
                h3.name.float-left=thing.name
                h4.powerStatus.float-right 꺼짐
                button.power.btn.btn-outline-light.float-right.p-0
                    i.powerStatusIcon.powerOff.material-icons.d-block power_settings_new
            //section.row
            //    section.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-3
            //        section.graph.rounded
            //            canvas.temperatureCanvas.d-block.rounded.bg-primary
            //    section.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-3
            //        section.graph
            //            canvas.humidityCanvas.d-block.rounded.bg-info
            //    section.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-3
            //        section.graph
            //            canvas.pm2_5Canvas.d-block.rounded
            //    section.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-3
            //        section.graph
            //            canvas.pm10Canvas.d-block.rounded
            section.row
                section.wrap.col-12.col-sm-12.col-md-8.col-lg-8.col-xl-8.p-0
                    section.multiGraphWrap
                section.speechBubbleMeterWrap.col-md-2.col-lg-2.col-xl-2.d-none.d-md-block.d-lg-block.d-xl-block.p-0
                    section.speechBubbleMeter
                        section.bubble
                            span.temperature
                                span 12.23
                                | °C
                        section.bubble
                            span.humidity
                                span 99
                                | %
                        section.bubble
                            span.pm2_5
                                span 120.57
                                | ㎍/㎥
                        section.bubble
                            span.pm10
                                span 120.57
                                | ㎍/㎥
                        section.bubble
                            span.pm2_5Predict
                                span 120.57
                                | ㎍/㎥
                        section.bubble
                            span.pm10Predict
                                span 120.57
                                | ㎍/㎥
                section.selectBox.col-12.col-sm-12.col-md-2.col-lg-2.col-xl-2.p-0
                    section.btns
                        .temperature(title="온도", data-sensor-type="temperature", data-visible="false")
                            img(src="/images/temperature-2-256.png")
                            span
                                span 24.54
                                | °C
                        .humidity(title="습도", data-sensor-type="humidity", data-visible="false")
                            img(src="/images/water-256.png")
                            span
                                span 24.54
                                | %
                        .pm2_5(title="초미세먼지", data-sensor-type="pm2_5", data-visible="true")
                            img(src="/images/dustdust-256.png")
                            span
                                span 24.54
                                | ㎍/㎥
                        .pm10(title="미세먼지", data-sensor-type="pm10", data-visible="true")
                            img(src="/images/dust-256.png")
                            span
                                span 24.54
                                | ㎍/㎥
                        .predict(title="예측", data-sensor-type="predict", data-visible="true")
                            img(src="/images/predict-256.png")
                            div
                                span
                                    span(title="초미세먼지") 24.54
                                    | ㎍/㎥
                                br
                                span
                                    span(title="미세먼지") 24.54
                                    | ㎍/㎥

    script.
        let user = JSON.parse("#{JSON.stringify(user)}".replace(/&quot;/g, "\""));