extends layout

block content
    section.text-light.p-2.border-bottom.d-flex.justify-content-between
        h2 대시보드
        section.d-flex.align-items-center
            span.badge.badge-primary.mx-1 좋음
            span.badge.badge-success.mx-1 보통
            span.badge.badge-warning.mx-1 나쁨
            span.badge.badge-danger.mx-1 매우나쁨
    section.text-light.border-bottom.border-light.p-3
        section.row
            section#inside.col-12.col-sm-12.col-md-12.col-lg-8.col-xl-8.my-3
                section.clearfix
                    h3.name.float-left 실내 통합
                section.row
                    section.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4.p-0
                        section.circle_graph.rounded
                            canvas.pm2_5CircleCanvas.d-block
                    section.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4.p-0
                        section.circle_graph.rounded
                            canvas.pm10CircleCanvas.d-block
                    section.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4.p-0
                        section.circle_graph.rounded
                            canvas.THCircleCanvas.d-block
            section#outside.col-12.col-sm-12.col-md-12.col-lg-4.col-xl-4.my-3
                section
                    h3.name 실외
                    br
                    //section.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12
                    h5.stationName 측정소 주소 부분
                    p.pm2_5.m-0 PM2.5
                    //p pm2.5 예측
                    p.pm10 PM10
                    //p pm10 예측
                    p.small.tm 측정 위치: 내 위치에서

    section.row
        each thing in user.things
            section.thing.col-12.col-sm-12.col-md-12.col-lg-6.col-xl-6.text-light.border-bottom.border-light.p-3(id=thing.name)
                section.clearfix
                    h3.name.float-left=thing.name
                    h4.powerStatus.float-right 꺼짐
                    button.power.btn.btn-outline-light.float-right.p-0
                        i.powerStatusIcon.powerOff.material-icons.d-block power_settings_new
                section.row
                    section.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4.p-0
                        section.circle_graph.rounded
                            canvas.pm2_5CircleCanvas.d-block
                    section.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4.p-0
                        section.circle_graph.rounded
                            canvas.pm10CircleCanvas.d-block
                    section.col-6.col-sm-6.col-md-4.col-lg-4.col-xl-4.p-0
                        section.circle_graph.rounded
                            canvas.THCircleCanvas.d-block

    script.
        let user = JSON.parse("#{JSON.stringify(user)}".replace(/&quot;/g, "\""));