extends layout

block content
    section#home
        section#outer_wrap.col-11.col-sm-10.col-md-6.col-lg-6.col-xl-3.p-0
            section#wrap
                section#signin.p-3
                    button#signupBtn.btn.btn-info.float-right(type="button") 등록
                    br
                    h3.text-dark 환영합니다.
                    br
                    p.text-secondary 처음 구입하신 분께서는 등록버튼을 눌러주세요.
                    form(action="/user/signin" method="post")
                        section
                            input.form-control(type="email" placeholder="이메일" name="email")
                            input.form-control(type="password" placeholder="비밀번호" name="password")
                        br
                        section.btn-group.float-right
                            button.btn.btn-primary(type="submit") 로그인

                section#signup.p-3
                    button#signinBtn.btn.btn-secondary.float-right(type="button") 뒤로가기
                    h3.text-dark 환영합니다.
                    p.text-primary 제품에 적혀있는 이름과 키를 적어주세요.
                    form(action="/user/signup" method="post")
                        section
                            input.form-control(type="email" placeholder="이메일" name="email")
                            input.form-control(type="password" placeholder="비밀번호" name="password")
                            input.form-control(type="password" placeholder="비밀번호 확인" name="password_check")
                            input.form-control(type="text" placeholder="사물 이름 (예: latte_XXX)" name="thing_name")
                            input.form-control(type="text" placeholder="사물 키(예: XXX-XXXX)" name="thing_key")
                        section.btn-group.float-right
                            button.btn.btn-info(type="submit") 등록하기