extends layout

block content
    #licenseWrap
        h2.text-light.p-2.border-bottom 정보
        a#license.btn.btn-light.d-flex.align-items-center(href="/etc/LICENSE.txt")
            span License
    ul.list-group.list-group-flush.text-light
        for lic in license
            li.list-group-item.border-secondary.bg-transparent
                h5=lic[0]
                -lic.shift();
                for line in lic
                    span.small=line
                    br
        //li.list-group-item.bg-dark.border-secondary
        //    h5 aws-iot-device-sdk
        //    p.small 라이센스 블라블라
        //li.list-group-item.bg-dark.border-secondary
        //    h5 jsonwebtoken
        //    p.small 라이센스 블라블라
        //li.list-group-item.bg-dark.border-secondary
        //    h5 socket.io
        //    p.small 라이센스 블라블라
        //li.list-group-item.bg-dark.border-secondary
        //    h5 socket.io-client
        //    p.small 라이센스 블라블라
        //li.list-group-item.bg-dark.border-secondary
        //    h5 bootstrap
        //    p.small 라이센스 블라블라