doctype html
html
    head
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title= title
        link(rel="shortcut icon", href="/images/favicon.ico")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet", href="/stylesheets/home.css")
        link(rel="stylesheet", href="/stylesheets/aside.css")
        link(rel="stylesheet", href="/stylesheets/dashboard.css")
        link(rel="stylesheet", href="/stylesheets/control_board.css")
        link(rel="stylesheet", href="/stylesheets/settings.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Do+Hyeon|Nanum+Brush+Script|Nanum+Myeongjo|Poor+Story" rel="stylesheet")
    body
        //-section.jumbotron.jumbotron-fluid.text-center
            h1= title
            //p Welcome to #{title}
        include aside
        .container-fluid
            block content
        //span.copyright.float-right.text-light.p-2 copyright ⓒ 2018 by Team Bardriven. All Page Content is property of Team Bardriven.
        //<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><a xmlns:cc="http://creativecommons.org/ns#" href="bitbucket.org/osirptpm" property="cc:attributionName" rel="cc:attributionURL">OsirptPm</a>에 의해 작성된 <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">MitalApp</span>은(는) <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">크리에이티브 커먼즈 저작자표시-비영리-동일조건변경허락 4.0 국제 라이선스</a>에 따라 이용할 수 있습니다.
        span.copyright.float-right.text-light.p-2
            a(rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/")
                img(alt="크리에이티브 커먼즈 라이선스" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png")
            a(xmlns:cc="http://creativecommons.org/ns#" href="https://bitbucket.org/osirptpm" property="cc:attributionName" rel="cc:attributionURL")  OsirptPm
            |에 의해 작성된
            span(xmlns:dct="http://purl.org/dc/terms/" property="dct:title")  MitalApp
            |은(는)
            a(rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/")  크리에이티브 커먼즈 저작자표시-비영리-동일조건변경허락 4.0 국제 라이선스
            |에 따라 이용할 수 있습니다.

        script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js", integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js")
        script(src="/javascripts/index.js", type="module")