extends layout

block content
    h2.text-light.p-2.border-bottom 설정
    section.border-bottom.border-light.px-3.py-4
        form(action=`/user/password?usertoken=${user.token}` method="post")
            section.text-light.form-group
                section.btn-group.float-right
                    button.btn.btn-primary(type="submit") 변경
                h3 비밀번호 변경
                section
                    input.form-control.bg-transparent.text-light(type="password" placeholder="현재 비밀번호" name="password")
                    input.form-control.bg-transparent.text-light(type="password" placeholder="새로운 비밀번호" name="new_password")
                    input.form-control.bg-transparent.text-light(type="password" placeholder="새로운 비밀번호 확인" name="new_password_check")
    section.border-bottom.border-light.px-3.py-4
        section.text-light
            h3 사물 목록
            ui.list-group.list-group-flush
                each thing in user.things
                    li.list-group-item.bg-transparent.border-secondary
                        form(action=`/user/thingRemove?usertoken=${user.token}` method="post")
                            section.form-group.d-flex.align-items-center.justify-content-between.m-0
                                span=thing.name
                                input.d-none(value=thing._id name="thing_id")
                                button.text-light(type="submit") &times;
                li.list-group-item.bg-transparent.border-secondary
                    form(action=`/user/thingAdd?usertoken=${user.token}` method="post")
                        section.row.form-group.justify-content-between.align-items-center.m-0
                            button.col-12.col-sm-12.col-md-12.col-lg-1.col-xl-1.my-1.text-light.float-left(type="submit") &plus;
                            input.form-control.bg-transparent.text-light.col-12.col-sm-12.col-md-12.col-lg-5.col-xl-5(type="text" placeholder="사물 이름" name="thing_name")
                            input.form-control.bg-transparent.text-light.col-12.col-sm-12.col-md-12.col-lg-5.col-xl-5(type="text" placeholder="사물 키" name="thing_key")
    section.border-bottom.border-light.px-3.py-4
        form(action=`/user/withdraw?usertoken=${user.token}` method="post")
            section.text-light.form-group
                section.btn-group.float-right
                    button.btn.btn-primary(type="submit") 삭제
                h3 계정 삭제
                section
                    input.form-control.bg-transparent.text-light(type="password" placeholder="현재 비밀번호" name="password")